body {
  background: #f9f7fe;
  font-family: "Rubik Gemstones", system-ui;
}

.weather-app {
  background: linear-gradient(to right, white, wheat);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: rgba(1, 1, 48, 0.8);
  font-size: 20px;
  font-weight: lighter;
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}

header {
  border-bottom: 1px solid rgba(192, 191, 192, 0.2);
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 8px;
  color: rgb(1, 1, 48);
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}
.search-form-button {
  background: rgba(1, 1, 68, 0.9);
  border: none;
  border-radius: 6px;
  color: wheat;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

main {
  margin: 25px 0 15px 0;
}

.weather-app-city {
  font-size: 50px;
  line-height: 48px;
  margin: 0;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
}
.weather-app-details strong {
  color: rgb(216, 28, 100);
}

.weather-app-temperature {
  display: flex;
}

.weather-app-temperature-icon {
  font-size: 35px;
  margin-top: 22px;
}

.weather-app-temperature-value {
  color: rgb(216, 28, 100);
  font-size: 88px;
  margin-left: 5px;
}

.weather-app-temperature-unit {
  font-size: 35px;
  margin-top: 15px;
}

footer {
  border-top: 1px solid rgba(192, 191, 192, 0.2);
  color: rgba(7, 7, 145, 0.7);
  font-size: 15px;
  padding: 25px 0 0 0;
  text-align: center;
}

a {
  color: rgba(216, 28, 100, 0.6);
}
