body {
  background: #f9f7fe;
  font-family: "Rubik Gemstones", system-ui;
}

h1 {
  font-size: 50px;
}
.weather-app {
  background: linear-gradient(to right, wheat, white);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: rgba(1, 1, 48, 0.8);
  font-size: 20px;
  font-weight: lighter;
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}

header {
  border-bottom: 1px solid rgba(192, 191, 192, 0.2);
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 8px;
  color: rgb(1, 1, 48);
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}
.search-form-button {
  background: rgba(1, 1, 68, 0.9);
  border: none;
  border-radius: 6px;
  color: wheat;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}

footer {
  border-top: 1px solid rgba(192, 191, 192, 0.2);
  color: rgb(1, 1, 68);
  font-size: 15px;
  padding: 30px 0 0 0;
  text-align: center;
}
